body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;


  background-color: #white;
  background-position: top center;
  background-repeat: no-repeat;
}
/*
body > * {
  background: rgba(255, 0, 0, 0.3); }
  body > * > * { background: rgba(255, 255, 0, 0.3); }
  body > * > * > * { background: rgba(0, 0, 255, 0.3); }
  body > * > * > * > * { background: rgba(0, 255, 255, 0.3); }
*/
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  border-top: 1px solid #f2f2f2;
}
.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;

  background-color: #white;
}

.site-navigation {
  list-style: none;
 }
 .site-navigation a {
   color: #000000
 }

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #696969;
}

.greeting {
  text-align: center;
  color: #333333;
  background-color: #blue;
  background-image: url("file:///Users/Nyusya/Desktop/GitHub/994379-sedona-25/img/background-photo.png");
  background-position: top center;
  background-repeat: no-repeat;
 }

 .features {
  list-style: none;
}
.features h2 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}
.features h3 {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.features p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}

.tips {
  list-style: none;
}
.feature-one {
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-one p {
  color: #ffffff;
}
.feature-two {
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-two p {
  color: #ffffff;
}
.feature-others {
  list-style: none;
  background-color: #eeeeee;
}

.marketing-text {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}
.search-info {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.search-form h3 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.search-form {
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.search-button.button {
  font: inherit;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.search-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}
.catalog-item {
  border-top: 1px solid #f2f2f2;
}
.catalog-item h3 {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.catalog-list {
  list-style: none;
  text-align: left;
}
.button-item {
    font: inherit;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
  }
.button-book {
  font: inherit;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
}
.button-item:hover,
.button-item:focus,
.button-item:active {
  background-color: blue;
}
.button-book:hover,
.button-book:focus,
.button-book:active {
  background-color: #663d15;
}
.rating {
  background-color: #f2f2f2
}
.main-footer {
border-top: 1px solid #f2f2f2;
border-button: 1px solid #f2f2f2;
}

.footer-instagram {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.footer-social {
  list-style: none;
  text-align: center;
  background-color: #81b3d2;
}

.footer-copyright p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}
 .main-footer a:hover,
 .main-footer a:focus {
  text-decoration: underline;
}
.footer-instagram a {
  color: #000000;
  text-decoration: none;
}

--------*-------сетка-------*-------
